/node_modules
#/public/storage
#/public/uploads/CompainLogo/*
/public/uploads/userProfile/*
/storage/*.key
/vendor
/.vscode
.env
.env.backup
.phpunit.result.cache
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
adminer-db.php
composer.lock
error_log
